.app-name {
        color: white;
        text-align: center;
        align-self: center;
        height: 100%;
}

.header {
        position: relative;
        height: 9vh;
        display: flex;
        flex-direction: column;
        background-color: #aa00ff;
}